<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <meta charset="utf-8">
    <title>Terrain Generator</title>
  </head>
  <body>
    <h2 id="h_title">Create Terrain From Sketches</h2>
    <div class="terrain_interface">
      <div class="buttons">
        <button class="btn btn-primary" value="blue" onclick="changeColour(this)"> Water </button>
        <button class="btn btn-danger" value="red" onclick="changeColour(this)"> Mountain Peak</button>
        <button class="btn btn-secondary" onclick="clearCanvas()">Clear canvas</button>
      </div>
      <div class="gray_and_canvas">
        <div class="canvas_space">
          <canvas id="input_canvas" width="512" height="512"></canvas>
          <button type="submit" class="btn btn-success" id="convert_button" value="upload" onclick="sendToFlask()">Convert to Terrain</button>
        </div>

        <div class="gray_slider">
            <h5 class="btn" id="gray_color">Height Value</h5>
            <input type="range" min="0" max="255" id="slider" step="1" value="0">
        </div>
      </div>


      <div class="terrain">
          <img src="{{ output_path }}">
      </div>
    </div>

    <script type="text/javascript" src="{{ url_for('static', filename='javascript/draw.js') }}"></script>
  </body>
</html>
